<!-- teaser-zone_start -->
<div class="teaser-zone teaser-background ">
  <div class="container">
    <!-- Search Box -->
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto">
        <form class="form-group" (submit)="search()">
          <div class="input-group">
            <input id="searchBox" class="form-control py-2" type="search" value="" autocomplete="off" placeholder="Search all agendas and minutes..."
                   matInput
                   [formControl]="q"
                   [matAutocomplete] = "auto">
            <span (click)="search()" class="input-group-append">
                  <button class="btn px-4 searchButton" type="button">
                      <i class="fa fa-search"></i>
                  </button>
                </span>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngIf="isSuggestLoading" class="is-loading">Loading suggestions...</mat-option>
              <ng-container *ngIf="!isSuggestLoading">
                <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.name" (click)="suggestClick(suggestion.name)">
                  {{suggestion.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- teaser-zone_end -->

<div class="container">
  <div *ngIf="errorMsg != null" class="row mx-auto pt-4">
    <p class="errorMsg p-3">{{errorMsg}}</p>
  </div>
</div>

<div *ngIf="success" class="container pt-5 pb-3">
  <div class="row">
    <div class="col-12">
      <h2 *ngIf="document != null && document.title != ''" >{{document.title}}</h2>
      <hr class="header">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 pl-3">
      <div><b>County/City:</b>&nbsp;{{document.regionName}}, {{document.stateAbbr}}</div>
      <div><b>Meeting Date:</b>&nbsp;{{document.meetingDate | date:'MMMM dd, yyyy'}}</div>
      <div><b>Document Type:</b>&nbsp;{{document.documentType}}</div>
    </div>
    <div class="col-xl-6 pr-3">
      <div class="download">
        <a (click)="downloadPDF()" class="regular-btn darker radius"><i class="fa fa-download"></i>&nbsp;Original PDF</a>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12">
      <div class="document-container p-3 m-1">
        <div class="document-content p-5">
          <div [innerHTML]="document.content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- document end -->

<!-- Loading Overlay -->
<div id="overlay" *ngIf="isPageLoading">
  <div id="spinner" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
