<div class="">
  <section id="landing-header">
    <div class="jumbotron">
      <div class="container">
        <div class="row flex flex-row mx-0 my-5 py-5">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1 class="text-light">Local Government Monitoring for Electric Utilities</h1>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn cs-btn section-links" [routerLink]="['/search']">Try it now!</button>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--    <section class="landing-header">-->
<!--        <div class="container">-->
<!--            <div class="row flex flex-row mx-0 my-5 py-5">-->
<!--                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->
<!--                    <h1 class="text-dark">Local Government Monitoring for Electric Utilities</h1>-->
<!--                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                    <a class="section-links primary mt-4" [routerLink]="['/search']">Try it now!</a>-->
<!--                </div>-->
<!--                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-0 mt-sm-3">-->
<!--                    <div class="landing-header-img-wrapper">-->
<!--                        <img src="https://d3r49iyjzglexf.cloudfront.net/home/hero-cicd-best-practices-ece8ee5878412c8555aca63e8d678d7369e08bf84abbb9c0e9a9fe53f6de53b7.jpg" alt="" class="img-responsive center">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="highlight-features">
        <div class="container">
            <div class="wrapper row mx-0 my-5 py-5 px-3">
                <div class="col-12 pb-5">
                  <h3 class="text-dark">Electric Utility Watches</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 px-3 seperator">
                    <p class="mb-4"><span class="badge blue">Infrastructure</span></p>
                    <h4 class="text-dark">Tortor pretium viverra </h4>
                    <p class="text-secondary">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                    <p class="mb-0"><a href="#">Read more</a></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 px-3 seperator">
                    <p class="mb-4"><span class="badge green">Sustainability</span></p>
                    <h4 class="text-dark">Consequat ac felis donec</h4>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue nisi vitae suscipit tellus. Facilisis leo vel fringilla est</p>
                    <p class="mb-0"><a href="#">Read more</a></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 px-3">
                    <p class="mb-4"><span class="badge blue">Fiscal</span></p>
                    <h4 class="text-dark">Egestas sed tempus urna et</h4>
                    <p class="text-secondary">Lacus vestibulum sed arcu non odio. Dui sapien eget mi proin sed libero enim. Justo eget magna fermentum iaculis.</p>
                    <p class="mb-0"><a href="#">Read more</a></p>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </section>

    <section class="related-documents">
        <div class="container">
            <div class="row mx-0 mt-5 py-5 px-3">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
<!--                    <p class="type-label">Changelog</p>-->
                    <h2 class="text-dark">Keep up with the latest documents related to Electric Utilities</h2>
                    <div class="my-4">
                      <button class="btn cs-btn section-links" [routerLink]="['/contact']">Request a Demo</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <ol class="list">
                        <li class="mb-3 pb-3 border-bottom" *ngFor="let document of relatedDocuments">
                            <a [href]="document.downloadURL">
                              <h4 class="text-dark title">{{document.name}}</h4>
                              <p class="text-secondary text-uppercase font-italic">Moorseville, NC - {{document.date}}</p>
                              <p class="text-secondary text-uppercase">
                                Phase 2 of the Stormwater Master Plan. (Presenters   Assistant Public Works Director Chris Tester and Public Works Administrative Services Manager Michael Hanna) <span class="highlight">Mayor</span> Pro Tem s Comments. COUNCIL MEETING AGENDA   PAGE 3
                              </p>
                              <p class="mb-0"><a href="#">Read more</a></p>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>
