<div class="container pt-5 pb-3">
  <div class="row">
    <div class="col-12">
      <h2>Events</h2>
      <hr class="header">
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="errorMsg != null" class="row mx-auto pt-4">
    <p class="errorMsg p-3">{{errorMsg}}</p>
  </div>
</div>

<div *ngIf="success" class="container">
  <div *ngIf="events == null || events.length == 0" class="row">
    <div class="col-12">
      <p class="noEventsMsg text-center">No events yet!</p>
    </div>
  </div>
  <div *ngFor="let event of events" class="eventItem row p-2">
    <div class="eventMeta pt-1 col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="spacer">&nbsp;</div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-calendar pr-3"></i>
        <span>{{event.meetingDate | date:'MMMM dd, yyyy'}}</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-globe pr-3"></i>
        <span>{{event.regionName}}, {{event.stateAbbr}}</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-file pr-3"></i>
        <span>{{event.documentType}}</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-bell pr-3"></i>
        <span>{{event.alertName}}</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-user pr-3"></i>
        <span>{{event.owner.fullName}}</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-hashtag pr-3"></i>
        <span>{{event.matchCount}} Matches</span>
      </div>
      <div class="eventMetaItem px-3 py-2 mr-5">
        <i class="fa fa-comment pr-3"></i>
        <span>{{event.commentCount}} Comments</span>
      </div>
    </div>
    <div class="eventText col-lg-9 col-md-6 col-sm-12 col-12">
      <div class="title p-2">{{event.documentTitle}}</div>
      <div class="description p-2" *ngIf="event.description != null && event.description != ''" [innerHTML]="event.description"></div>
      <div class="description p-2" *ngIf="(event.description == null || event.description == '') && event.previews.length > 0 && event.previews[0].texts.length > 0" [innerHTML]="event.previews[0].texts[0]"></div>
      <div class="p-2">
        <button [routerLink]="['/event/show/', event.uuid]" class="btn btn-primary readMore">View Event</button>
      </div>
    </div>
    <hr class="eventSeparator">
  </div>
</div>

<!-- Loading Overlay -->
<div id="overlay" *ngIf="isPageLoading">
  <div id="spinner" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
