<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../assets/images/logo/logoRegGreyVertical.png" alt="Council Search">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" class="mx-2 nav-item">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="isLoggedIn" class="mx-2 nav-item">
        <a class="nav-link" [routerLink]="['/event/list']">Events</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="isLoggedIn" class="mx-2 nav-item">
        <a class="nav-link" [routerLink]="['/alert/list']">Alerts</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="mx-2 nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" *ngIf="!isLoggedIn" class="mx-2 nav-item">
        <i class="fa fa-user"></i>
        <a class="nav-link" [routerLink]="['/login']" >Login</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="isLoggedIn" class="mx-2 nav-item">
        <i class="fa fa-sign-out"></i>
        <a class="nav-link" (click)="logout()" >Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

